[package]
name = "ncount"
version = "0.2.3"
edition = "2018"
authors = ["J/A <archer884@gmail.com>"]
license = "Unlicense"
keywords = ["novel", "word-count", "text"]
readme = "readme.md"
homepage = "https://github.com/archer884/ncount"
repository = "https://github.com/archer884/ncount"
categories = ["command-line-utilities", "text-processing"]
description = """
A word count tool intended to derive useful stats from markdown.
"""

[dependencies]
pest = "2.0"
pest_derive = "2.0"
prettytable-rs = "0.8"
structopt = "0.2"
walkdir = "2.2"
